@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .gradient-text-hero{
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background: linear-gradient(90deg, #71D0F7 0%, rgba(255, 255, 255, 0.76) 48.44%, #E6834A 100%);
    }

    .gradient-badge{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(45, 212, 191, 0.1) 100%);
    }

    .pause-animate{
        animation-play-state: paused;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }

    /* Used For Chrome, Opera and Safari */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Used For Firefox: */
    .no-scrollbar {
        scrollbar-width: none;
    }
    /* Used For MS Edge and IE: */
    .no-scrollbar {
        -ms-overflow-style: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #12141C inset !important;
        -webkit-text-fill-color: #E7E9F0 !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}